
body {
    background-image: url(../images/background.png);
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.bg-light {
    background-color: #ffffff!important;
}

#logo {
    background-color: #4aaaa5;
    color: #ffffff;
    /* font-size: 24px; */
    font-weight: 600;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bio-pic {
    width: 252px;
    height: 306.333px;
    float: left;
    margin-right: 16px;
}

#about-me,
#contact-me,
#my-portfolio {
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 75px;
    background-color: #ffffff;
}

#about-me h1 {
    border-bottom: #cccccc solid 3px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#submit-btn {
    background-color: #4aaaa5!important;
    border-color: #4aaaa5!important;
}

.project-card {
    padding-bottom: 15px;
}

.btn {
    background-color: #4aaaa5;
    opacity: 0.777;
    border: white;
}